[Unit]
Description=Server Telemetry Service
After=network.target

[Service]
Type=simple
ExecStart=/opt/iASL_telemetry/telem_venv/bin/python /opt/iASL_telemetry/telem.py
WorkingDirectory=/opt/iASL_telemetry
Restart=on-failure

[Install]
WantedBy=multi-user.target
